<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>2048 Game</title>
</head>
<body>
  <div class="main-container">
    <div class="game-container">
      <div class="head-container">
        <h1>2048</h1>
        <div class="score-container">
          <div class="score">
            <p class="score-title">Score</p>
            <p>{{score}}</p>
          </div>
          <div class="best">
            <p class="best-title">Best</p>
            <p>{{best}}</p>
          </div>
          <button (click)="resetGame()" class="new-game-button">New Game</button>
        </div>
      </div>
      <div class="board-container">
        <div class="casilla" *ngFor="let cas of casilla; index as i"
            [ngClass]="{
              color0:   is0(casilla[i]),
              color2:   is2(casilla[i]),
              color4:   is4(casilla[i]),
              color8:   is8(casilla[i]),
              color16:  is16(casilla[i]),
              color32:  is32(casilla[i]),
              color64:  is64(casilla[i]),
              color128: is128(casilla[i]),
              color256: is256(casilla[i]),
              color512: is512(casilla[i]),
              color1024: is1024(casilla[i]),
              color2048: is2048(casilla[i])
            }"
        >
            {{casilla[i]}}
        </div>
      </div>
    </div>
  </div>
  
</body>
</html>